/* THEME OPTIONS ************************** */

@import url(//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700,300italic);

/* GLOBAL ********************************* */

#first-time {
	display: none;
}

#admin-menu {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

body {
	background: #fff;
	font-size: 18px;
	line-height: 25px;
	color: #787b80;
	font-family: 'Source Sans Pro', sans-serif;
	font-weight: 400;
	min-width: 300px;
	padding: 0;
}

a {
	text-decoration: none;
	color: #009b76;
}
	a:hover {
		color: #53284f;
	}

/* HEADER ********************************* */
/* ----- Header Region --------------- */
#header {
        height:150px;
        background:#E1E1E1;
	    margin-top: 0px;
		border-bottom: 10px solid #d9311a;
   }


.publicidad-header{
    position: relative;
    float:right;
	margin-top:-100px;
	max-width:500px;
	max-height:125px;
	overflow:hidden;
	}


.navbar-inner > .container {
	position: relative;
    margin-top:-25px;
}

.header-bottom {
    background:inherit;
	padding-top: 13px;
	padding-bottom: 13px;
	}


.bloque-redes-arriba{
 max-heigh:75px;
 margin-right:18%;
 float:right;
 /*position: relative;*/
 margin-top: -16px !important;
 overflow:hidden;
}

.bloque-fecha-hora{
 max-heigh:50px;
 float:right;
 margin-right:43%;
 margin-top: -157px !important;
 overflow:hidden;
}

	
#block-views-slideshow-publicidad-block-4{
   	/*position:relative;
	clear:both;*/
	margin-top:20px;
	float:left;
	max-width:950px;
	max-height:90px;
	width:100%;
    /*margin-right:18%;*/
	margin-left:128px;
	visibility:!important;
    }
	






/* ----- Search Box ------------------ */
/* ----- Logo ------------------------ */
/* ----- Site Title and Slogan ------- */
#logo {
	padding-top:15px;
	padding-left: 3px;
}

/* NAVIGATION ***************************** */
/* ----- Main Navigation ------------- */

ul.menu li {
	margin: 0;
	padding: 0;
}

#main-nav ul.menu, .footer-menu ul.menu {
	width: 100%;
	border-right: 1px solid #d9311a;
	list-style: none;
	background-color:#d9311a;
}
#main-nav ul.menu > li, .footer-menu ul.menu > li {
	width: 14.285%;
	border-left: 1px solid #d9311a;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

	.footer-menu ul.menu > li {
		float: left;
		list-style-image: none;
  		list-style-type: none;
  		border-color: #d9311a;
	}

	.footer-menu ul.menu {
		margin-bottom: 0;
		border-color: #d9311a;
	}

	.footer-menu ul.menu:after {
		content: '';
		width: 100%;
		clear: both;
		display: block;
	}
.navbar {
	margin-bottom: 0;
}
.navbar-inner {
    background: none;
    border: none;
    border-radius: 0;
    box-shadow: none;
    min-height: 40px;
    padding-left: 0;
    padding-right: 0;
}
.navbar .nav > li > a, .footer-menu ul.menu > li > a {
   color: #ffffff;
  text-align:center;
  border-right: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  background: #d9311a; 
  float: none;
  display: block;
  text-decoration: none;
  text-shadow: 0 1px #eee;
  border-radius: 0px;
  padding: 0.9em 0 0.9em 10px;
}
	.navbar .nav > li > a {
		background: #d9311a;
	}
.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav > li > a:hover,
.footer-menu ul.menu > li > a:hover, .footer-menu ul.menu > li.active > a {
  background:#AFAEAE;
  }

.navbar ul.menu  a:hover,
 a:active,
 a:focus {
  background: #6f7070 !important;
  color: #ffffff;
  font-weight: 700;
  border-radius: 8px;
  text-decoration: underline;
}

.navbar ul.menu  a:visited {
  color: #ffffff !important;
  font-weight: 700 !important;
  text-decoration: none;
}


#page-title {
  margin-top:5px;
  /*width:93.50%;
  padding-left:75px !important;*/
  margin-bottom: 0;
  font-weight: 700;
  font-size: 40px;
  text-align:left;
  font-size: 24px !important;
  background-color: #ffffff;
  color: #DA2E1A !important;
  border-bottom: 10px solid #DA2E1A !important;
}

.titulo-paginas-auxiliares{
  margin-top:5px;
  /*width:93.50%;*/
  margin-bottom: 0;
  font-weight: 700;
  font-size: 40px;
  text-align:left;
  text-transform:uppercase;
  font-size: 24px !important;
  background-color: #ffffff;
  color: #DA2E1A !important;
  border-bottom: 10px solid #DA2E1A !important;
}

#main{
    width:100%;
    margin-left:67px !important;
	padding-top: 5px !important;
}

.node-font-family{
  font-family: 'Source Sans Pro', sans-serif;	
}

.ancho-destacadas{
    width:800px;
}
.ancho-sidebar-b{
    width:371px;
}

.pane-slideshow-destacadas img{
	width:auto;
}



.pane-slideshow-destacadas .views-field-title, .pane-slideshow-destacadas-panel-pane-1 .views-field-title,
.pane-slideshow-destacadas-panel-pane-2 .views-field-title, .pane-slideshow-destacadas-panel-pane-5 .views-field-title,
.pane-slideshow-destacadas-panel-pane-6 .views-field-title, .pane-slideshow-destacadas-panel-pane-8 .views-field-title, 
 .pane-slideshow-destacadas-panel-pane-10 .views-field-title{
	width:100%;
	max-height:80px;
    background:#9d9aa9;
	text-align:center;
}
.pane-slideshow-destacadas  .views-field-title a, .pane-slideshow-destacadas-panel-pane-1 .views-field-title a,
.pane-slideshow-destacadas-panel-pane-2 .views-field-title a, .pane-slideshow-destacadas-panel-pane-6 .views-field-title a,
.pane-slideshow-destacadas-panel-pane-5 .views-field-title a, .pane-slideshow-destacadas-panel-pane-6 .views-field-title a,
.pane-slideshow-destacadas-panel-pane-8 .views-field-title a, .pane-slideshow-destacadas-panel-pane-10 .views-field-title a{
	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
	font-size: 20px;
	line-height: 60px;
    text-decoration: none;
	background:#9d9aa9;
	color: #ffffff !important;
	margin-bottom: 5px;
}


/****  PARA LAS IMAGENES MINI DE NOTICIAS ****/
.pane-slideshow-destacadas-panel-pane-3 .views-field-title,.pane-slideshow-destacadas-panel-pane-4 .views-field-title,
.pane-slideshow-destacadas-panel-pane-7 .views-field-title, .pane-slideshow-destacadas-panel-pane-9 .views-field-title,
.pane-slideshow-destacadas-panel-pane-11 .views-field-title,.views-field-field-seccion,.pane-slideshow-destacadas-panel-pane-13 .views-field-title,
.pane-slideshow-destacadas-panel-pane-14 .views-field-title,.pane-slideshow-destacadas-panel-pane-15 .views-field-title,
.pane-slideshow-destacadas-panel-pane-16 .views-field-title, .pane-slideshow-destacadas-panel-pane-17 .views-field-title 
 {  
   max-width:250px;
   max-height:35px;
   background:#9d9aa9;
   text-align:center;
   overflow:hidden;
}

.pane-slideshow-destacadas-panel-pane-3 .views-field-title a,.pane-slideshow-destacadas-panel-pane-4 .views-field-title a,
.pane-slideshow-destacadas-panel-pane-7 .views-field-title a, .pane-slideshow-destacadas-panel-pane-9 .views-field-title a,
.pane-slideshow-destacadas-panel-pane-11 .views-field-title a,.views-field-field-seccion a, .pane-slideshow-destacadas-panel-pane-13 .views-field-title a,
.pane-slideshow-destacadas-panel-pane-14 .views-field-title a, .pane-slideshow-destacadas-panel-pane-15 .views-field-title a,
.pane-slideshow-destacadas-panel-pane-16 .views-field-title a, .pane-slideshow-destacadas-panel-pane-17 .views-field-title a{
   	font-family: 'Source Sans Pro', sans-serif;
    font-weight: 700;
	font-size: 11px;
	line-height: 35px;
    vertical-align:middle;
    text-decoration: none;
	background:#9d9aa9;
	color: #ffffff !important;
	margin-bottom: 5px;
	overflow:hidden;
}

.views-field-field-seccion, 
.views-field-field-seccion a{
    font-size: 13px !important;;
    color: #ffffff !important;
	text-transform:uppercase;
}

/* ----- Secondary Navigation -------- */
/* ----- Breadcrumbs ----------------- */
/* ----- First Sidebar Menu Blocks --- */
/* ----- Second Sidebar Menu Blocks -- */
/* ----- Admin Menu ------------------ */
/* ----- Pager Nav ------------------- */

/* SIDEBARS ******************************* */

/* FOOTER ********************************* */
/* ----- Fat Footer ------------------ */

#footer-upper {
	background: #53284f;
}

.site-footer {
	margin-top: 33px;
}

#footer-top {
	background: #009b76;
	padding: 40px 0;
}

.flotar-izquierda {
float:left;
}

.flotar-derecha {
float:right;
}

.flotar-imagen-izquierda img{
float:left;
}

.flotar-imagen-derecha img{
float:right;
}

.ancho-setenta{
  width:70%;	
}
.relleno-izquierdo-01{
      margin-left: 10%;
   }
 .relleno-izquierdo-02{
       margin-left: 20%;
   }

.relleno-izquierdo-03{
        margin-left: 30%;
   }

.relleno-izquierdo-04{
        margin-left: 40%;
   }   

.relleno-derecho-01{
      margin-right: 10%;
   }
.relleno-derecho-02{
       margin-right: 20%;
   }

.relleno-derecho-03{
        margin-right: 30%;
   }













#block-follow-site {
	text-align: center;
}
.follow-link-wrapper {
		display: inline-block;
		margin-left: 10px;
	}
	.follow-link-wrapper:first-child {
		margin-left: 0;
	}
a.follow-link {
	width:45px;
	height:45px;
	text-indent:-9999px;
	opacity:1;
	padding:0;
	-webkit-transition:all .2s ease;
	-moz-transition:all .2s ease;
	transition:all .2s ease;
	display: inline-block;
}
	a.follow-link:hover {
		opacity:0.7;
		filter:progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	}

a.follow-link-youtube {
  background-image: url(../images/icon-youtube.png);
}
a.follow-link-twitter {
  background-image: url(../images/icon-twitter.png);
}
a.follow-link-facebook {
  background-image: url(../images/icon-facebook.png);
}

.copyright {
	text-align: center;
}

/* CONTENT ******************************** */

#main {
	padding-top: 72px;
	padding-bottom: 63px;
}

.node {
	margin-bottom: 40px;
}

.last {
	margin-bottom: 0 !important;
}

h1, h2, h3, h4, h5, h6 {
	color: #4d4f53;
	font-weight: 700;
	font-size: 30px;
	margin-bottom: 30px;
	padding-top: 0;
	margin-top: 0;
}
h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	color: #4d4f53;
}

h1 :hover, h2 :hover, h3 :hover, h4 :hover, h5 :hover, h6 :hover {
	color: #009b76;
}

.title-1 {
	font-weight: 400;
	font-size: 30px;
	line-height: 36px;
	color: #4d4f53;
	margin-bottom: 20px;
}
	.title-1 a {
		color: #4d4f53;
		display: inline-block;
	}
		.title-1 a:hover {
			color: #009b76;
		}
	.title-1 b {
		font-weight: 700;
	}

.title-indet-1 {
	margin-bottom: 5px;
}
.title-indet-2 {
	margin-bottom: 15px;
}

.title-indet-3 {
	margin-bottom: 10px;
}

.post-date, .add-info {
	font-style: italic;
	font-weight: 300;
	color: #aaadb3;
	margin-bottom: 7px;
}

.extra, .extra-2 {
	overflow: hidden;
}

.indent-right, .indent-right-2 {
	padding-right: 30px;
	padding-top: 8px;
	float: left;
}
	.indent-right-2 {
		padding-top: 4px;
	}

.img-left {
	float: right;
	margin-left: 20px;
	margin-bottom: 20px;
}

.main, .content-head, .mc-content {
	margin-bottom: 0;
}

.button a, ul.links li a, input.form-submit {
	display: inline-block;
	padding: 10px 20px;
	background: #009b76;
	border: none;
	color: #fff;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
}
	.button a:hover, ul.links li a:hover, input.form-submit:hover {
		background: #53284f;
	}

.button {
	margin-top: 24px;
}

input.form-submit {
	margin-right: 10px;
}

.views-row {
	margin-bottom: 32px;
	padding-bottom: 34px;
	border-bottom: 1px solid #f2f2f2;
}
.views-clearfix .views-row:after {
	content: '';
	width: 100%;
	clear: both;
	display: block;
}

.views-row.views-row-last, .views-row h2, .field-collection-view {
	margin-bottom: 0;
	padding-bottom: 0;
}

#page-title {
	margin-bottom: 0;
	color: #fff;
	font-weight: 300;
	font-size: 40px;
}

#header-bottom {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}


.item-list .pager {
	border-top: 1px solid #f2f2f2;
	margin-top: 40px;
	padding-top: 30px;
}

.item-list .pager li {
	margin: 0;
}

.pager li > a, .pager li > span, .item-list .pager .pager-current {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 15px 15px 15px 15px;
    display: inline-block;
    padding: 5px 14px;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   margin-top: 10px;
}

.item-list .pager .pager-current {
	margin-left: 8px;
	margin-right: 8px;
}

.panels-flexible-region-inside {
	padding: 0;
}

.google-map {
	margin-bottom: 40px;
}

#edit-message {
	height: 100px;
}

.panel-pane.error-page {margin-bottom:30px;}
	.panel-pane.error-page .pane-content {overflow:hidden;}
		.panel-pane.error-page .pane-content span.err {
			font-weight:bold;
			font-size:150px;
			line-height:150px;
			display: block;
			text-align: center;
			color: #53284f;
			padding-bottom: 20px;
		}
.panel-pane.error-page .pane-content .extra {
	border-top: 1px solid #ccc;
	padding-top: 10px;
	text-align: center;
}
.panel-pane.error-page .pane-content .err-title {
	display:block;
	font-size:70px;
	line-height:84px;
	padding-top:20px;
	text-transform:uppercase;
	color: #53284f;
}
.panel-pane.error-page .pane-content .err-body {
	display:block;
	font-size:20px;
	line-height:24px;
	margin-bottom:15px;
}
.page-page-404 .pane-search-form {text-align:center;}
	.page-page-404 .pane-search-form .pane-content {display:inline-block;}
	.page-page-404 .pane-search-form #search-block-form .form-text {
		width:280px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		margin-bottom: 15px;
	}

.page-page-404 #search-block-form .btn-search {
	position: relative;
	right: 0;
	height: 40px;
	width: 40px;
	padding: 0;
}

/* ------------------------- SLIDER ------------------------- */
.flex-viewport {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

#block-views-slider-block {
	padding-top: 11px;
	padding-bottom: 7px;
}

#flexslider_views_slideshow_main_slider-block li {
	padding: 0;
}

.flex-control-thumbs li {
	width: 20%;
}

.flexslider .slides img {
	width: 100%;
	height: auto;
}

.flexslider {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    border-radius: 0 0 0 0;
    box-shadow: none;
    margin-bottom: 0;
}

.flex-control-nav {
	bottom: -53px;
	z-index: 20;
}

.flexslider .flex-next,
.flexslider .flex-prev {
	opacity: 1;
}
.flexslider .flex-direction-nav a, .flexslider .flex-direction-nav a {
    display: block;
    background: #fff;
    width: 40px;
    height: 40px;
    -webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

.flexslider .flex-direction-nav a:hover {
	background-color: #d9311a;
	opacity: 0.5;
    filter: Alpha(opacity=50); /* IE8 and earlier */
}

.flex-direction-nav .flex-prev, .flex-direction-nav .flex-next {
	text-align: left;
	text-indent: -999em;
}

	.flex-direction-nav a.flex-prev {
		background-image: url(../images/prev.png);
		background-position: 48% 50%;
		background-repeat: no-repeat;
	}
		.flex-direction-nav a.flex-prev:hover {
			background-image: url(../images/prev-hover.png);
		}
	.flex-direction-nav a.flex-next {
		background-image: url(../images/next.png);
		background-position: 52% 50%;
		background-repeat: no-repeat;
	}
		.flex-direction-nav a.flex-next:hover {
			background-image: url(../images/next-hover.png);
		}

.flexslider:hover .flex-next, .flex-direction-nav .flex-next {opacity: 1; right: 0;}
.flexslider:hover .flex-prev, .flex-direction-nav .flex-prev {opacity: 1; left: 0;}

.flex-control-nav li a {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	width: 18px;
	height: 18px;
	background: url(../images/slider-nav.png) 100% 0 no-repeat;
}

.flex-control-paging li a.flex-active, .flex-control-paging li a:hover {
	background: url(../images/slider-nav.png) 0 0 no-repeat;
}

.flex-control-nav li {
	margin: 0 1px;
}

.flex-caption {
	position: absolute;
	left: auto;
	right: 100px;
	top: 120px;
	text-align: right;
}

	.flex-caption .button {
		margin-top: 25px;
	}

.slider-text-1 {
	font-weight: 300;
	font-size: 40px;
	line-height: 38px;
	color: #272c2f;
	letter-spacing: -2px;
}

.slider-text-2 {
	font-weight: 700;
	font-size: 55px;
	line-height: 50px;
	color: #53284f;
}


/* VIEWS ********************************** */
/* ----- Search Results -------------- */

/* CONTAINERS ***************************** */
/* ----- Blocks ---------------------- */
/* ----- Wells ----------------------- */
/* ----- Callouts and Blockquotes ---- */
/* ----- Pullquote Text -------------- */

/* POSTCARD LAYOUTS ********************** */

/* IMAGES ******************************** */

/* ICONS ********************************* */

/* HELPER CLASSES ************************ */
/* ----- Style ----------------------- */
/* ----- Positioning ----------------- */
/* ----- Sizing ---------------------- */

/* GENERAL OVERRIDES ********************* */
/* ----- Bootstrap Overrides --------- */
/* ----- Field Collection Overrides -- */
/* ----- Field Label Overrides ------- */

/* ADMINISTRATION ************************ */
/* ----- Admin ----------------------- */
/* ----- User Block ------------------ */

/* MEDIA QUERIES ************************* */
/* ----- Responsive ------------------ */

@media (max-width: 767px) {

	.footer-menu {
		display: none;
	}
	
	#header, #main-menu, #header-bottom, #main, #footer {
		padding-left: 20px;
		padding-right: 20px;
	}
		#main-menu {
			padding-left: 15px;
			padding-bottom: 20px;
			padding-top: 17px;
	        background-color:#8f7270;
		}

	#main-menu {
	background-color:#8f7270;
    }

	#block-views-slideshow-publicidad-block-7{
		display:none;
	}
	
	#block-views-slideshow-publicidad-block-4{
		display:none;
	}
	
	.footer-content .block {
		float: none;
		margin-right: 0;
		width: auto;
	}

	.extra {
		overflow: visible;
	}
	

	#main-nav ul.menu, .footer-menu ul.menu {
		border: none;
	}

	.flex-caption, .flex-control-nav li a, .flexslider .flex-direction-nav a {
		display: none !important;
	}

	#main-nav ul.menu > li, .footer-menu ul.menu > li {
		width: auto;
		border-left: none;
		padding-top: 20px;
	}

	.navbar .nav > li > a, .footer-menu ul.menu > li > a {
	    color: #fff;
	    float: none;
	    border-top: 3px solid #ffffff;
		border-bottom: 3px solid #ffffff;
		border-radius:8px;
	    padding: 10px 0px;
	    text-shadow: none;
	    font-size: 20px;
	    text-align: center;
	}

	/*.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav > li > a:hover, .footer-menu ul.menu > li > a:hover, .footer-menu ul.menu > li.active > a {
		background: #53284f;
	}*/

    .navbar ul.menu  a:hover,
    a:active,
    a:focus {
	  background: #6f7070 !important;
	  color: #ffffff;
	  border-top: 3px solid #ffffff;
	  border-bottom: 3px solid #ffffff;
	  border-radius:8px;
	  font-weight: 700;
	  text-decoration: underline;
    }
	

	.contact-info {
		padding-top: 50px;
	}

}
@media  (min-width: 768px) and (max-width: 1024px){
	.footer-menu {
		display: none;
	}
	
	#header, #main-menu, #header-bottom, #main, #footer {
		padding-left: 20px;
		padding-right: 20px;
	}
		#main-menu {
			padding-left: 15px;
			padding-bottom: 20px;
			padding-top: 17px;
	       /* background-color:#8f7270;*/
		}

	/*#main-menu {
	background-color:#8f7270;
    }*/

	#block-views-slideshow-publicidad-block-7{
		display:none;
	}
	
	.footer-content .block {
		float: none;
		margin-right: 0;
		width: auto;
	}

	.extra {
		overflow: visible;
	}
	

	
	#main-nav ul.menu, .footer-menu ul.menu {
		border: none;
	}

	.flex-caption, .flex-control-nav li a, .flexslider .flex-direction-nav a {
		display: none !important;
	}

	#main-nav ul.menu > li, .footer-menu ul.menu > li {
		width: 50%;
		border-left: none;
		padding-top: 20px;
	}

	.navbar .nav > li > a, .footer-menu ul.menu > li > a {
	    color: #fff;
	    float: none;
	    border-top: 3px solid #ffffff;
		border-bottom: 3px solid #ffffff;
		border-radius:8px;
	    padding: 10px 0px;
	    text-shadow: none;
	    font-size: 14px;
	    text-align: center;
	}

	/*.navbar .nav > .active > a, .navbar .nav > .active > a:hover, .navbar .nav > .active > a:focus, .navbar .nav > li > a:hover, .footer-menu ul.menu > li > a:hover, .footer-menu ul.menu > li.active > a {
		background: #53284f;
	}*/

    .navbar ul.menu  a:hover,
    a:active,
    a:focus {
	  background: #6f7070 !important;
	  color: #ffffff;
	  border-top: 3px solid #ffffff;
	  border-bottom: 3px solid #ffffff;
	  border-radius:8px;
	  font-weight: 700;
	  text-decoration: underline;
    }                                     
	

	.contact-info {
		padding-top: 50px;
	}


}
/* ----- Print ----------------------- */